.navbar {
    padding: 0 !important;
}

#navbarMain {
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    padding: 35px;
    background: #29313c;
    font-size: 1.5em;
    font-weight: 500;
}

#navbarMain a {
    color: white;
    border-radius: 20px;
}

.nav-item a:hover {
    background: #0ab3ff;
}

.nav-item a {
    margin: 0 12px;
}
.dropdown-menu {
    padding-right: 40px;
}

#navbarSupportedContent #user  {
    background: #0ab3ff;
    border: none;
    padding: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

#navbarSupportedContent #user:hover {
    letter-spacing: 0.2em;
    font-size: 0.8em
}
/*sfdsfsdfsdf*/

#table-1{
    width: 500px;
    height: 50px;
    padding:2px;
}
#table-1 tr{
    border-spacing: 1px;
}




/*sfdsfsdfsdf*/


.footer {
    background: #1c2630;
    height: 200px;
    display: grid;
    place-items: center;
}
.row {
    color: white;
    width: 70%;

}
.footer-mid{
    display: inline;
}
.col-lg-4 {
    display: grid;
    place-items: center;
}
.col-lg-4 p a{
    margin-left: 50px;
}
.social-facebook {
    background-color: #3b5998!important;
}
.social-linkedin {
    background-color: #0976b4!important;
}
.social-youtube {
    background-color: #b31217!important;
}




